.claude
.mypy_chache
build/
dist/
.venv
*.pyc
__pycache__/
database/battle.db
party/csv/*
party/txt/*
party/table/*
party/setting.txt
image/outputImg/*
recog/setting.json
bat/
image/readme/desktop.ini
